.container {
  width: 100%;
  margin: 0 auto;
}

.courses-nav {
  margin: 10px 0;
  width: 100%;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  margin-right: 20px;
  margin-bottom: 20px;
}
