.loader,
.loader:before,
.loader:after {
  background: #000000;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  display: block;
}
.loader {
  color: #000000;
  text-indent: -9999em;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

.full-page-loader {
  composes: loader;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.full-page-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#000, 0.2);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
