@import '~@src/style/table';
@import '~@src/style/buttons';
@import '~@src/style/layout';

.container {
  width: 100%;
  margin: 0 auto;
}

.content {
  @extend .content-box;
  margin-top: 20px;
}

.listing {
  display: block;
}

.table {
  @extend %table;
  margin: 30px auto;

  td,
  th {
    padding: 20px;
  }
}

.add-btn {
  @include button($color-new-item-creator-bg, $color-new-item-creator-text);
  padding-left: 44px;
  margin: 15px 0;

  background-image: url(@src/images/icons/add-white.svg);
  background-position: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.actions-col {
  display: flex;
}

.edit {
  @extend .icon-btn;
  border-color: #ddd;
  margin-right: 10px;
  height: 30px;
  width: 30px;

  background-image: url(@src/images/icons/pencil.svg);
}

.delete {
  @extend .icon-btn;
  border-color: #ddd;
  height: 30px;
  width: 30px;

  background-image: url(@src/images/icons/trash.svg);
}
