@import '~@src/style/buttons';
@import '~@src/style/variables';

.delete-prompt {
  padding: 20px 40px;
}

.delete-prompt-title {
  font-size: 1.7em;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  margin: 15px 0;
}

.delete-prompt-subtitle {
  font-size: 1.2em;
}

.delete-prompt-btns {
  margin-top: 20px;
}

.cancel-prompt-btn {
  @extend .btn;
  margin-right: 15px;
}

.delete-prompt-delete-btn {
  @include button($color-danger, #fff);
}
